#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}



.fetched-data-table {
  margin-top: 20px;
}

.fetched-data-table h2 {
  color: rgb(252, 10, 10);
  -webkit-text-stroke: 1px rgb(254, 254, 255);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.fetched-data-table table {
  width: 100%;
  border-collapse: collapse;
}

.fetched-data-table th,
.fetched-data-table td {
  padding: 10px;
  border: 5px solid #000000;
}

.fetched-data-table th {
  background-color: #e3ab0f;
  font-weight: bold;
  text-align: left;
}

.fetched-data-table tbody tr {
  font-weight: 900;
  background-color: #e3ab0f;
}


.fetched-data-table tbody tr:hover {
  background-color: #e3aa0f49;
}

.instance-names {
  color: red;
  -webkit-text-stroke: 1px rgb(254, 254, 255);
}


body {
  background-image: url('/Database-5.gif');
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}


nav {
  background-color: #33333369;
  color: white;
  position: fixed; /* Make the navbar stay fixed at the top */
  top: 0; /* Position it at the top of the page */
  left: 0;
  right: 0;
  display: flex; /* Make the navigation items horizontal */
  justify-content: space-between; /* Space out the items */
  padding: 10px 20px; /* Add padding to the navbar */
}

ul {
  list-style: none;
  display: flex; /* Make the list items horizontal */
  padding-right: 0;
  margin: 0;
  cursor: pointer;
  color: navajowhite;
}

li {
  list-style-type: none;
  margin-right: 50px;
  color: #ef7015;
}

li:hover {
  color: #3984bd;
}

#login-hdr {
  color: #2878f5;
  background-color: #fdbb79c2;
  width: fit-content;
  margin-left: 150px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#reset-pswd {
  color: white;
  font-weight: 600;
}

#reset-pswd:hover {
  color: red;
  background-color: white;
  font-weight: 600;
}

#login-btn {
  background-color: green;
  color: black;
  padding: 5px 10px; 
  border-radius: 5px; 
}


span {
  color: rgb(247, 15, 15);
  font-size: x-large;
  font-weight: 800;
  -webkit-text-stroke: 1px rgb(28, 28, 233);
}


.instances {
  margin: 10px;
}


.documentation-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.documentation-title {
  text-align: center;
  color: #333;
}

.documentation-section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 1.5rem;
  color: #f6ff00;
}

pre {
  background-color: #cabebe;
  padding: 10px;
  overflow-x: auto;
  border-radius: 5px;
}

code {
  font-family: monospace;
  font-weight: 800;
  color:black;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.documentation-container p {
  font-weight: 800;
  color: #000;
}